<header>
 <nav id="mainNav">
  <h2 class="hidden">Main Navigation</h2>
     
        <button id="button"></button>

           <div id="burgerCon">
           {{!-- <div id="burger">
           <a class="menu" href="/"><img src="images/g_burger_menu.svg" alt="burger menu"/></a>
           </div> --}}

                  <ul id="burgerMenu">
                    <li><a href="/#designer">Home</a><li>
                     <li><a href="/about">About me</a><li>
                     <li><a href="#portfolio">Work</a><li>
                     <li><a href="#conatct">Contact</a><li>
                  </ul>
            </div>
 </nav>
</header>

<section id="designer">
    <section id="myBrand">
         <img class="luiImage1" src="images/luisa1.jpg" alt="luisa valero image">
         <img class="luiImage2" src="images/luisa2.jpg" alt="luisa valero image">
         <img class="luiImage3" src="images/luisa3.jpg" alt="luisa valero image">
       
         <a class="logo" href="/"><img src="images/g_lv_symbol.svg" alt="logo"/></a>
         <div class="whoIam">
            <p class="pro">GRAPHIC & UI DESIGNER</p>
            <h1>LUISA VALERO</h1>
            <h2 class="tagline">Intuitively visual. Eye for design.</h2>

            <div class="mySelf">
               <p class="wSubtitle">Me, myself and Eye</p>
               <h2 class="wHead">PASSIONATE DESIGNER / POTENT BRANDER</h2>
               <p>I love what I do, and I do that work with enthusiasm and care.
                        When I am presented with a visual communication challenge, 
                        my mind starts arranging images and typography, like a puzzle, 
                        with the goal of achieving maximum visual impact. 
                        My goal is to help you tell your story and to captivate and engage 
                        the people important to you.</p>

               <div class="gbtn">
                  <a class="greyArrow" href="/about">
                     <p class="viewMore">VIEW MORE ABOUT
                        <svg version="1.1" id="g_arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                           x="0px" y="0px" viewBox="0 0 268.8 268.8" style="enable-background:new 0 0 268.8 268.8;" xml:space="preserve">
                        <style type="text/css">
                           .st0{fill:#F2F0F0;}
                        </style>
                        <path id="arrow" class="st0" d="M265.2,125.6l-80-80c-4.9-4.9-12.8-4.9-17.7,0s-4.9,12.8,0,17.7l58.7,58.7H12.5
                           C5.6,122,0,127.6,0,134.5c0,6.9,5.6,12.5,12.5,12.5h213.7l-58.7,58.7c-4.9,4.9-4.9,12.8,0,17.7c2.4,2.4,5.6,3.7,8.8,3.7
                           s6.4-1.2,8.8-3.7l80-80C270.1,138.4,270.1,130.5,265.2,125.6z"/>
                        </svg>
                     </p>
                  </a>
               </div>
               <div class="wLine"></div>
            </div>
         </div>
    </section>

    

</section>

    


   <div class="showWorks" id="portfolio">
         <p class="mSubtitle">Fresh Off The Press</p>
         <h2 class="pHead">WORK</h2>

            {{#each data}}
               <section class="feature">
                  <img src="images/{{homeImg}}">
                  <div class="featureText">
                     <p>{{Including}}</p>
                     <h2>{{Title}}</h2>
                     <div class="smolD-wrapper">
                        <div class="smolDes">
                           <h3 class="phead3">My Role</h3>
                           <p class="pInclude">{{MyRole}}</p>
                        </div>
                        <div class="smolDes">
                           <h3 class="phead3">Year</h3>
                           <p class="pInclude">{{Year}}</p>
                        </div>
                     </div>
                     <a class="mArrow" href="/{{ID}}">
                        <p class="viewMore">VIEW MORE WORK
                        <svg version="1.1" id="pur_right_a" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                              x="0px" y="0px" viewBox="0 0 268.8 268.8" style="enable-background:new 0 0 268.8 268.8;" xml:space="preserve">
                           <style type="text/css">
                              .st0{fill:#90405E;}
                           </style>
                           <path id="arrow" class="st0" d="M265.2,125.6l-80-80c-4.9-4.9-12.8-4.9-17.7,0s-4.9,12.8,0,17.7l58.7,58.7H12.5
                              C5.6,122,0,127.6,0,134.5c0,6.9,5.6,12.5,12.5,12.5h213.7l-58.7,58.7c-4.9,4.9-4.9,12.8,0,17.7c2.4,2.4,5.6,3.7,8.8,3.7
                              s6.4-1.2,8.8-3.7l80-80C270.1,138.4,270.1,130.5,265.2,125.6z"/>
                           </svg>
                        </p>
                     </a>
                 </div>
   
               </section>
            {{/each}}

      
   </div>

   <section id="reelVideo">          
         <p class="mSubtitle">Playground</p>
         <h2 class="pHead">DEMO REEL</h2>
              <video autoplay muted loop controls>
                <source src="video/valero_luisa_demo_reel.mp4" type="video/mp4">
                <source src="video/valero_luisa_demo_reel.webm" type="video/webm">
                <source src="video/valero_luisa_demo_reel.ogv" type="video/ogv">
               </video>
         
   </section>

   <section class="get-Intouch">
              <p class="mSubtitle">Do you like my work?</p>
              <h2 class="pHead">LET'S WORK TOGETHER</h2>

             <a class="mArrow" href="/#contact">
                        <p class="viewMore"> GET IN TOUCH
                        <svg version="1.1" id="pur_right_a" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                              x="0px" y="0px" viewBox="0 0 268.8 268.8" style="enable-background:new 0 0 268.8 268.8;" xml:space="preserve">
                           <style type="text/css">
                              .st0{fill:#90405E;}
                           </style>
                           <path id="arrow" class="st0" d="M265.2,125.6l-80-80c-4.9-4.9-12.8-4.9-17.7,0s-4.9,12.8,0,17.7l58.7,58.7H12.5
                              C5.6,122,0,127.6,0,134.5c0,6.9,5.6,12.5,12.5,12.5h213.7l-58.7,58.7c-4.9,4.9-4.9,12.8,0,17.7c2.4,2.4,5.6,3.7,8.8,3.7
                              s6.4-1.2,8.8-3.7l80-80C270.1,138.4,270.1,130.5,265.2,125.6z"/>
                           </svg>
                        </p>
                     </a>
     
                  <div id="contactMe">
                      <p class="close">x</p>
                         <div id="shortCont">
                               <p class="mSubtitle">let's talk</p>
                               <h2 class="pHead">CONTACT ME</h2>

                               <h3>SAY HELLO!</h3>

                               <p>I would love to talk to you about your graphic or web design needs. 
                                  Please return this form, along with any links that might help to 
                                  illustrate your goals. I will respond as soon as possible. </p>
                               
                                  <div class="contInfo">
                                     <p><a href="mailto:luisa.valero19@gmail.com">luisa.valero19@gmail.com<a/></p>
                                     <p>Phone: 226-493-0243</p>
                                     <p>London,ON,Canada</p>
                                 </div>

                                 <div id="socialMedia">
                                   	<a href="https://www.instagram.com/luiva.m/"><img id="inst" src="images/m_instagram.svg" alt="instagram"></a>
						                  <a href="https://www.linkedin.com/in/luisa-valero/"><img id="twi" src="images/m_linkedin.svg" alt="linkedin"></a>

                                </div>
                     
   
                         </div>
                                  <form class="cols" id="contactForm" action="form.php" method="POST">
	                                  <label for="name">First and last name</label>
	                                  <input class="inputField" type="text" required id="name" name="fullName">
	                                  <label for="email">Email</label>
                                     <input class="inputField" type="text" required id="email" name="email">
                                     <label for="phone">Phone</label>
                                     <input type="tel" id="phone" name="phone" required>
	                                  <label for="comments">Message</label>
	                                  <textarea id="comments" name="comments" required ></textarea>
	                                   <input type="submit" id="submit" value="SUBMIT">
                                  </form>
                       
                  </div>

   </section>

	
