<header>
 <nav id="mainNav">
  <h2 class="hidden">Main Navigation</h2>
     
  <button id="button2"></button>

           <div id="burgerCon2">
           {{!-- <div id="burger">
           <a class="menu" href="/"><img src="images/m_burger_menu.svg" alt="burger menu"/></a>
           </div> --}}

                  <ul id="burgerMenu2">
                    <li><a href="/home">Home</a><li>
                     <li><a href="/about">About me</a><li>
                     <li><a href="#">Work</a><li>
                     <li><a href="#">Contact</a><li>
                  </ul>
            </div>
</nav>
</header>

<section class="showPort">
          <section="lvLogo">
                 <a class="logo" href="/"><img src="images/gd_lv_symbol.svg" alt="logo"/></a>
             </section>

                <div class="abtMe1">
                   <p class="pro">WORK</p>
                </div>
</section>


<section class="aboutPort">
            <div class="mainPort">
                 <div class="portDes">
                   <p>{{Including}}</p>
                    <h1>{{Title}}</h1>
                    <p>{{Des1}}</p>
                    <p>{{Des2}}</p>
                </div>
                     <div class="smolD-wrappe2r">
                        <div class="smolDes2">
                          <h3 class="phead3">My Role</h3>
                           <p>{{MyRole}}</p>
                         </div>
                       <div class="smolDes2">
                             <h3 class="phead3">Agency</h3>
                             <p>{{Agency}}</p>
                           </div>
                     </div>
                   
                       <div class="smolDes2">
                             <h3 class="phead3">Collaborators</h3>
                             <p>{{Coll}}</p>
                      </div>
                      <div class="smolDes2">
                           <h3 class="phead3"> Year</h3>
                           <p>{{Year}}</p>
                        </div>
                  </div>

                 <img src="images/{{ImgD}}">
                 <img src="images/{{ImgT}}">
                 <img src="images/{{ImgM}}">
</section>

                  <div class="recBrand">
                        <img ="organsImg" src="images/organs_logo.svg" alt="organs logo">
                    </div>

                       <div class="brandImg">
                            <p class="mSubtitle">Web Responsive Design</p>
                               <h2 class="pHead">{{Subt1}}</h2>
                              <img src="images/{{Img1}}">
                         </div>


                       <div class="brandImg">
                            <p class="mSubtitle">Collateral Design</p>
                               <h2 class="pHead">{{Subt2}}</h2>
                              <img src="images/{{Img2}}">
                              <img src="images/{{Img3}}">
                         </div>

                        <div class="arrows">
                               <div class="prevArrow">
                                 {{!-- <a href="/"><img id="inst" src="images/m_prev_arrow.svg" alt="previous arrow"></a> --}}
                                   <p>PREV</p>
                              /div>

                                <div class="nextArrow">
                                 	{{!-- <a href="/"><img id="inst" src="images/m_next_arrow.svg" alt="next arrow"></a> --}}
                                   <p>NEXT</p>
                                 </div>


                        </div>

                        
 <footer id="mainFooter">
             <a class="logo" href="/"><img src="images/g_lv_symbol.svg" alt="logo"/></a>

             <div id="copyRight">
                <p> &copy; 2015 - 2019 by Luisa Valero.</p>
                <p>All Rights Reserved</p>
             </div>

             <div class="b-socialMedia">
                  	<a href="https://www.instagram.com/luiva.m/"><img id="inst" src="images/g_instagram.svg" alt="instagram"></a>
						   <a href="https://www.linkedin.com/in/luisa-valero/"><img id="ld" src="images/g_linkedin.svg" alt="linkedin"></a>
             </div>
      
 </footer>


