<header>
 <nav id="mainNav">
  <h2 class="hidden">Main Navigation</h2>
     
        <a id="HB" class="dark ">
           <svg version="1.1" id="burger_menu" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
               y="0px" viewBox="0 0 77.7 42.3" style="enable-background:new 0 0 77.7 42.3;" xml:space="preserve">
            <style type="text/css">
               .hb{fill:#F2F0F0;}
            </style>
            <path id="bottom_x5F_border" class="hb" d="M69.2,15.2h-60c-1.5,0-2.7-1.2-2.7-2.7l0,0c0-1.5,1.2-2.7,2.7-2.7h60
               c1.5,0,2.7,1.2,2.7,2.7l0,0C71.9,14,70.7,15.2,69.2,15.2z"/>
            <path id="top_x5F_border_1_" class="hb" d="M69.2,34.1h-60c-1.5,0-2.7-1.2-2.7-2.7l0,0c0-1.5,1.2-2.7,2.7-2.7h60
               c1.5,0,2.7,1.2,2.7,2.7l0,0C71.9,32.6,70.7,34.1,69.2,34.1z"/>
            </svg>
        </a>

           <div id="burgerCon" class="">
              <img id="m_lv_symbol" src="images/half_symbol.jpg" alt="ham img">
                  <ul id="burgerMenu">
                    <li><a href="/#designer">Home</a><li>
                     <li><a href="/about">About me</a><li>
                     <li><a href="/#portfolio">Work</a><li>
                     <li><a href="/#contact">Contact</a><li>
                  </ul>
            </div>
 </nav>
</header>

<section class="showPort">
          <section="lvLogo">
                 <a class="logo" href="/"><img src="images/gd_lv_symbol.svg" alt="logo"/></a>
             </section>

                <div class="whatAb">
                   <p class="pro">WORK</p>
                </div>
</section>

{{#each data}}
<section class="aboutPort">
            <div class="mainPort">
                 <div class="portDes">
                   <p>{{Including}}</p>
                    <h1>{{Title}}</h1>
                    <p>{{Des1}}</p>
                    <p>{{Des2}}</p>
                </div>
                     <div class="smolD-wrappe2r">
                        <div class="smolDes2">
                          <h3 class="phead3">My Role</h3>
                           <p>{{MyRole}}</p>
                         </div>
                       <div class="smolDes2">
                             <h3 class="phead3">Agency</h3>
                             <p>{{Agency}}</p>
                           </div>
                     </div>
                   
                       <div class="smolDes2">
                             <h3 class="phead3">Collaborators</h3>
                             <p>{{Coll}}</p>
                      </div>
                      <div class="smolDes2">
                           <h3 class="phead3"> Year</h3>
                           <p>{{Year}}</p>
                        </div>
                  </div>

                 <img src="images/{{ImgD}}">
                 <img src="images/{{ImgT}}">
                 <img src="images/{{ImgM}}">
</section>

                  <div class="recBrand">
                        <img ="organsImg" src="images/{{LogoImg}}" alt="organs logo">
                    </div>

                       <div class="brandImg">
                            <p class="mSubtitle">Web Responsive Design</p>
                               <h2 class="pHead">{{Subt1}}</h2>
                              <img src="images/{{Img1}}">
                              <img src="images/{{Img1M}}">
                         </div>


                       <div class="brandImg">
                            <p class="mSubtitle">Collateral Design</p>
                               <h2 class="pHead">{{Subt2}}</h2>
                              <img src="images/{{Img2}}">
                         </div>

                        <div class="arrows">
                               <div class="prevArrow">
                                 <a href="/#portfolio">
                                  <img id="inst" src="images/m_prev_arrow.svg" alt="previous arrow">
                                   <p>HOME</p>
                                   </a>
                              </div>

                                {{!-- <div class="nextArrow">
                                 	<a href="/"><img id="inst" src="images/m_next_arrow.svg" alt="next arrow"></a>
                                   <p>NEXT</p>
                                 </div> --}}


                        </div>
{{/each}}
                        
